<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra + Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
	<table class="table table-bordered">
		<tr><th>ID</th><th>Account</th></tr>
		<% @infors.each do |infor| %>
		  <tr>
		  	<td><%= infor.Id %></td>
		    <td><%= infor.Name %></td> 
		  </tr>
		<% end %>
	</table>
  </body>
</html>
