	<table class="table table-user-information">
		<tr><th>ID</th><th>Account</th></tr>
		<% @infors.each do |infor| %>
		  <tr>
		  	<td><%= infor.Id %></td>
		    <td><%= infor.Name %></td> 
		  </tr>
		<% end %>
	</table>