<div class="container">
<h1 class="well">Add new Teammmmmmmmmm</h1>
<div class="col-lg-12 well">
<div class="row">
	<form action="/addteam" method="post">
		<div class="col-sm-12">
			<div class="form-group">
				<label>Team Name</label>
				<input type="text" placeholder="Enter Team Name Here.." class="form-control" name="teamname">
			</div>		
	  		<input type="submit" class="btn btn-lg btn-info">
		</div>
	</form>
</div>
</div>
</div>
