	<table class="table table-bordered">
		<tr><th>ID</th><th>Account</th><th>Action</th></tr>
		<% @accounts.each do |account| %>
		  <tr>
		  	<td><%= account.Id %></td>
		    <td><%= account.Name %></td> 
		    <td><a href = "/account/<%= account.Id %>" />Details</td>
		  </tr>
		<% end %>
	</table>
